.login {
    width: 100vw;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    z-index: 3;
}

.login-form input {
    margin-bottom: 1vh;
}

.login-form button {
    margin-bottom: 3vh;
}

.login-swap {
    text-transform: uppercase;
    border: none;
    padding: 0;
}
  
  .login-swap:hover {
    border: none;
    color: var(--text-border);
    background-color: #6F9E9E;
    text-decoration: underline;
    padding: 0;
    text-transform: uppercase;
    cursor:pointer
  }