.login {
    width: 100vw;
    height: 50vh;
    display: flex;
    margin-left: 3vw;
    align-items: center;
}

.login-form {
    margin-left: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    z-index: 3;
}

.login-form input {
    margin-bottom: 1vh;
}

.login-form button {
    margin-bottom: 3vh;
}

.login-swap {
    text-transform: uppercase;
    border: none;
    padding: 0;
}
.about-text {
    width: 50vw;
}
  
  .login-swap:hover {
    border: none;
    color: var(--text-border);
    background-color: #6F9E9E;
    text-decoration: underline;
    padding: 0;
    text-transform: uppercase;
    cursor:pointer
  }

.login-with-google-btn {
    color: var(--background);
    border-left: 2px solid var(--text-border);
    text-decoration: none;
    background: var(--text-border);
    padding: 6px 12px;
    text-transform: uppercase;
}

.login-with-google-btn:hover {
    color: var(--background);
    border-left: 2px solid var(--text-border);
    text-decoration: none;
    background: #6F9E9E;
    padding: 6px 12px;
    text-transform: uppercase;
}