html {
  --text-border: #212325;
  --background: #FDF8ED;
}

.App {
  font-family: 'IBM Plex Mono', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', Courier, monospace;
  color: var(--text-border);
  background-color: var(--background);
  min-height: 100vh;
  width: 100vw;
  margin-bottom: 0px;
}

nav {
  position: absolute;
  width: 100vw;
  background-color: var(--background);
  top: 0px;
  left: -5px;
  margin: 0px;
  display: flex;
  border-bottom: 3px solid var(--text-border);
}

a, .word-count, .sign-out {
  border-left: 3px solid var(--text-border);
  text-decoration: none;
  color: var(--text-border);
  padding: 6px 12px;
  text-transform: uppercase;
}

a:hover, .sign-out:hover {
  border-left: 3px solid var(--text-border);
  text-decoration: underline;
  background-color: #6F9E9E;
  color: #FDF8ED;
  padding: 6px 12px;
  text-transform: uppercase;
}

.sign-out {
  position: absolute;
  top: 0px;
  right:0px;
  background-color: var(--background);
}

.page-title {
  font-family: 'IBM Plex Mono', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', Courier, monospace;
  font-style: normal;
  font-weight: 700;
  font-size: 5vh;
  line-height: 104px;
  margin-top: 0px;
  padding-top: 60px;
  margin-left: 60px;
  text-transform: uppercase;
}

.writing-area {
  margin-left: 60px;
  display: flex;
}

textarea {
  font-family: 'IBM Plex Mono', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', Courier, monospace;
  width: 40vw;
  min-width: 480px;
  height: 50vh;
  background-color: var(--background);
  color: var(--text-border);
  border: 3px solid var(--text-border);
  padding: 48px;
  font-size: 18px;
  margin-right: 3vw;
}

textarea:focus {
  outline: none !important;
}

.card {
  border: 3px solid var(--text-border);
  width: 10vw;
  min-width: 200px;
  height: 25vh;
  min-height: 250px;
  padding: 24px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.log-area {
  margin-top: -4.5vh;
  margin-left: 64px;
  height: 80vh;
  overflow-y: scroll;
}

.link-to-login {
  border: none;
  text-decoration: underline;
}

.link-to-login:hover {
  border: none;
}

footer {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 100vw;
  border-top: 3px solid var(--text-border);
  display: flex;
  justify-content: end;
}