.entry-record {
    margin-top: -4.5vh;
    margin-left: 64px;
    height: 80vh;
    display: flex;
  }

  .writing-info {
    width: 40vw;
    min-width: 480px;
    height: 50vh;
    overflow-y: scroll;
    margin-right: 5vw;
  }

  .writing-info::-webkit-scrollbar {
    display: none;
  }

  .strategy-list {
    margin-top: 5vh;
  }

  .strategy-list ul {
    margin-left: -25px;
  }

  .error-message {
    text-align: center;
  }